option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application   # tells it the correct entry point (optional but good)
    NumWorkers: 4                       # optional – but can align with your --workers

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static                     # if you have /static folder for CSS/JS etc.